.grid {
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
}
body {
    background-color: #90d5ec;
    background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: grid;
    /*grid-template-columns: 25% auto 25%;*/
    grid-template-rows: 10% 10% auto 20%;
}
.header {
    text-align: center;
    text-decoration:wavy ;
    position: relative;
}

.score {
    text-align:justify;
    border: 10px solid;
}

.glow {
    font-size: 3rem;
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
  }

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }